<div class="container">
    <div class="content-wrapper">
      <mat-form-field appearance="fill">               
        <textarea [(ngModel)]="questionTitle"  matInput cdkTextareaAutosize cdkAutosizeMinRows="2" placeholder="Konu?"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">               
        <textarea [(ngModel)]="question"  matInput cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="Sorunuzu sorun..."></textarea>
      </mat-form-field>
            
      <div class="new-post-actions-container">
        <button (click)="post()" [disabled]="question.trim() == '' || questionTitle.trim() == ''" mat-raised-button class="post-button">Sor</button>
      </div>        

      <mat-card *ngFor="let item of questionList; let i=index;"  class="example-card">
        <mat-card-header>
          <mat-card-title>{{item.questionTitle}}</mat-card-title>            
          <mat-card-subtitle>@{{item.username}}</mat-card-subtitle>
        </mat-card-header>        
        <mat-card-actions class="card-content">
          <div >
            <button (click)="questionVote(i,1)" [class.colored-icon]="item.questionPlus.indexOf(userService.user.id)>=0"mat-icon-button><mat-icon class="icon-display">thumb_up</mat-icon></button>
            <button (click)="questionVote(i,-1)" [class.colored-icon]="item.questionMinus.indexOf(userService.user.id)>=0"mat-icon-button><mat-icon class="icon-display">thumb_down</mat-icon></button>
          </div>
         <div>
          <button mat-raised-button color="primary" [routerLink]="'/show-solutions/'+item.id">
            Soruyu Gör
          </button>
         </div>
        </mat-card-actions>
      </mat-card>
      
    </div>
  </div>